* {
  border: none;
  border-radius: 0px;
  /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
  font-family:
    Lilex Nerd Font,
    Noto Sans CJK;
  font-size: 11px;
  font-style: normal;
  min-height: 0;
}

window#waybar {
  background: rgba(30, 30, 46, 0.5);
  color: #f4d9e1;
}

#workspaces {
  font-weight: bold;
  font-style: normal;
}

#workspaces button {
  color: #928374;
  margin: 5px 0 5px 0;
  padding: 0 5px;
}

#workspaces button.active {
  color: #f4d9e1;
  background-color: transparent;
}

#workspaces button:hover {
  background-color: #e6b9c6;
  color: black;
}

#custom-date,
#clock,
#battery,
#pulseaudio,
#network,
#custom-randwall,
#custom-launcher {
  background: transparent;
  margin: 5px 2px 5px 2px;
  border-radius: 8px;
}

#custom-date {
  color: #d3869b;
}

#custom-power {
  color: #24283b;
  background-color: #db4b4b;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 5px 10px;
}

#battery {
  color: #9ece6a;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  color: #24283b;
}

#backlight {
  background-color: #24283b;
  color: #db4b4b;
  border-radius: 0px 0px 0px 0px;
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 0px;
}

#network {
  color: #f4d9e1;
  border-radius: 8px;
  margin-right: 5px;
}

#pulseaudio {
  color: #f4d9e1;
  border-radius: 8px;
  margin-left: 0px;
}

#pulseaudio.muted {
  background: transparent;
  color: #928374;
  border-radius: 8px;
  margin-left: 0px;
}

#custom-randwall {
  color: #f4d9e1;
  border-radius: 8px;
  margin-right: 0px;
}

#custom-launcher {
  color: #e5809e;
  background-color: #282828;
  border-radius: 0px 24px 0px 0px;
  margin: 0px 0px 0px 0px;
  padding: 0 20px 0 13px;
  /*border-right: solid 1px #282738;*/
  font-size: 20px;
}

#custom-launcher button:hover {
  background-color: #fb4934;
  color: transparent;
  border-radius: 8px;
  margin-right: -5px;
  margin-left: 10px;
}

#custom-playerctl {
  background: #282828;
  padding-left: 15px;
  padding-right: 14px;
  border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

#custom-playerlabel {
  background: transparent;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  font-style: normal;
}

#window {
  background: #282828;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  font-style: normal;
}

#custom-wf-recorder {
  padding: 0 20px;
  color: #e5809e;
  background-color: #1e1e2e;
}

#cpu,
#memory,
#network,
#battery,
#clock,
#tray {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}

#custom-hyprpicker {
  background-color: #282828;
  /*color: #8EC07C;*/
  border-radius: 16px;
  margin: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px 11px 0px 9px;
  font-weight: bold;
}
